html {
  background-color: #fff;
  font-size: 14px;
  color: #1b1b1b;
  width: 100%;
}

.van-list {
  min-height: calc(100vh - 100px) !important;
  overflow: hidden !important;
}

.b-g-E7F3FF {
  background-color: #e7f3ff;
}
.content-top {
  min-height: 155px;
  background-size: 100%;
}
.m-20-10 {
  margin: 20px 2%;
}
.view .van-uploader__upload {
  display: none;
}
.content-top .nav {
  position: absolute;
  top: 20px;
  z-index: 999;
  width: 96%;
  line-height: 26px;
}
.content-top {
  position: relative;
  padding-bottom: 20px;
  min-height: 250px;
}
.content-top .content {
  height: 28px;
}
.detailsbg {
  width: 100%;
  position: absolute;
}
table {
  border-color: #e7e7e7;
}
.p-f-b {
  width: 100%;
  position: fixed;
  bottom: 16px;
}
.p-f-b button {
  width: 45%;
}

.nav .van-icon {
  color: #000000;
  width: 26px;
  height: 26px;
  font-size: 26px;
  // line-height: 2em;
}
.add .van-icon {
  line-height: 48px;
}
.addBtn {
  position: relative;
  width: 100%;
}
.addBtn .add {
  color: #5096fc;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.b-r-btn {
  height: 66px;
  padding: 10px 0;
}
.b-r-btn .van-icon-add {
  font-size: 46px;
}
.abnormal {
  color: #fb5f80;
}
.normal {
  color: #3386ff;
}
.b-l span {
  border-right: 2px solid #eeeeee;
}
.istitle img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
}
.istitle .flex {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.primary .van-grid-item__text {
  color: #358319;
}
.warning .van-grid-item__text {
  color: #cd6f7a;
}
.info .van-grid-item__text {
  color: #5389cc;
}
/* input边框 */
.van-field__control {
  border: 0 !important;
}
/* 必填项 */
.van-cell--required::before {
  position: absolute;
  left: 8px;
  color: #ee0a24;
  font-size: 14px;
  content: "*";
}
.color-bar {
  color: #2c82ff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 900;
  margin-right: 4px;
}
/* 列表 */
.approvalList {
  width: 100%;
  height: calc(100% - 45px);
  /* padding: 10px 0; */
  overflow-y: auto;
  overflow-x: hidden;
}
.approvalItem {
  width: 100%;
  background-color: #ffffff;
  padding: 0 14px 14px 14px;
  margin-top: 10px;
}

.istitle {
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
.istitle > span:first-child {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 600;
}
.istitle > span:last-child {
  color: #2c82ff;
  font-size: 14px;
  font-weight: 400;
}
.infoRow {
  width: 100%;
  padding: 1px 0;
  font-size: 14px;
}
.infoRow > p:first-child {
  width: 120px;
  color: #868686;
}
.infoRow > p:last-child {
  width: calc(100% - 125px);
  text-align: right;
  color: #1b1b1b;
}
.bottomRow {
  border-top: 1px solid #eeeeee;
  padding: 14px 0;
}
.tjTime {
  color: #868686;
  font-size: 14px;
  width: 180px;
}
.btnBox {
  width: calc(100% - 185px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btnBox div {
  width: 58px;
  height: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #1b1b1b;
  color: #1b1b1b;
  font-size: 13px;
}
.btnBox div:last-child {
  margin-left: 8px;
}
.approvalList .addBox {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #108ee9;
  color: #ffffff;
}

/* 详情 */

.startCon {
  padding: 10px;
  color: #1b1b1b;
  font-size: 14px;
}
// li > div:first-child {
//   width: 90px;
// }
// li > div:last-child {
//   width: calc(100% - 90px);
//   text-align: right;
// }
.addBox {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #108ee9;
  color: #ffffff;
}

// 购物车开始
.shop .van-button--round {
  border-radius: 0;
}
.pricebox {
  position: relative;
}
.pricebox .van-cell {
  position: absolute;
  max-width: 100px;
  top: 0;
  right: 0;
  padding: 0;
}
.list {
  // position: relative;
  padding: 10px 14px 12px 16px;
  background: #fff;
  display: flex;
  align-items: center;
  // height: 132px;
  margin-bottom: 10px;
}
.list .van-checkbox {
  width: 40px;
}
.imgbox {
  width: 30%;
  float: right;
}
.imgbox img {
  max-width: 104px;
  max-height: 104px;
}
.textbox {
  width: 62%;
  padding-left: 15px;
  box-sizing: border-box;
  float: right;
}
.textbox .price {
  padding-top: 4px;
  color: #1890ff;
  line-height: 22px;
  font-size: 16px;
}
.shopName {
  width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 20px;
}
.shop .col {
  color: #868686;
  line-height: 18px;
  padding-top: 6px;
}
.shop .bottom {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  padding: 8px 10px 8px 14px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-b-60 {
  padding-bottom: 60px;
}
.van-button--round {
  border-radius: 0;
}
.shop .botton {
  width: 122px;
  // height: 44px;
  background: #1890ff;
  line-height: 44px;
  // float: right;
  text-align: center;
  color: #fff;
}
.total {
  // float: right;
  padding-right: 10px;
  line-height: 44px;
  font-size: 12px;
  font-weight: 400;
  color: #868686;
  display: flex;
  align-items: center;
}
.total .price {
  font-size: 20px;
  color: #1890ff;
}
.cart {
  background: #9f9f9f;
  position: relative;
  float: left;
  height: 44px;
  width: 44px;
  border-radius: 25px;
}
.cart .num {
  color: #fff;
  position: absolute;
  height: 16px;
  border-radius: 8px;
  padding: 0px 4px;
  box-sizing: border-box;
  right: -6px;
  top: 2px;
  background: #1890ff;
}
.shop .van-checkbox {
  // position: absolute;
  // top: 50%;
  // left: 8%;
  // transform: translate(-50%, -50%);
  // width: 70px;
  // margin: auto;
}
// 购物车结束
// 购物车开始
.shop .van-button--round {
  border-radius: 0;
}
.pricebox {
  position: relative;
}
.pricebox .van-cell {
  position: absolute;
  max-width: 100px;
  top: 0;
  right: 0;
  padding: 0;
}
.imgbox {
  width: 30%;
  float: right;
}
.imgbox img {
  max-width: 104px;
  max-height: 104px;
}
.textbox {
  width: 62%;
  padding-left: 15px;
  box-sizing: border-box;
  float: right;
}
.textbox .price {
  padding-top: 4px;
  color: #1890ff;
  line-height: 22px;
  font-size: 16px;
}
.shopName {
  width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 20px;
}
.shop .col {
  color: #868686;
  line-height: 18px;
  padding-top: 6px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.van-button--round {
  border-radius: 0;
}
.total .price {
  font-size: 20px;
  color: #1890ff;
}
.cart {
  background: #9f9f9f;
  position: relative;
  float: left;
  height: 44px;
  width: 44px;
  border-radius: 25px;
}
.cart .num {
  color: #fff;
  position: absolute;
  height: 16px;
  border-radius: 8px;
  padding: 0px 4px;
  box-sizing: border-box;
  right: -6px;
  top: 2px;
  background: #1890ff;
}
// 购物车结束=======
// 购物车开始
.shop .van-button--round {
  border-radius: 0;
}
.pricebox {
  position: relative;
}
.pricebox .van-cell {
  position: absolute;
  max-width: 100px;
  top: 0;
  right: 0;
  padding: 0;
}
.imgbox {
  width: 30%;
  float: right;
}
.imgbox img {
  max-width: 104px;
  max-height: 104px;
}
.textbox {
  width: 62%;
  padding-left: 15px;
  box-sizing: border-box;
  float: right;
}
.textbox .price {
  padding-top: 4px;
  color: #1890ff;
  line-height: 22px;
  font-size: 16px;
}
.shopName {
  width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 20px;
}
.shop .col {
  color: #868686;
  line-height: 18px;
  padding-top: 6px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.van-button--round {
  border-radius: 0;
}
.total .price {
  font-size: 20px;
  color: #1890ff;
}
.cart {
  background: #9f9f9f;
  position: relative;
  float: left;
  height: 44px;
  width: 44px;
  border-radius: 25px;
}
.cart .num {
  color: #fff;
  position: absolute;
  height: 16px;
  border-radius: 8px;
  padding: 0px 4px;
  box-sizing: border-box;
  right: -6px;
  top: 2px;
  background: #1890ff;
}

.van-button--default {
  background-color: #eeeeee;
}
.w-100 {
  width: 100px;
}
.flex-shrink-0 {
  flex-shrink: 0;
}

// 会议档期
.dateTime {
  line-height: 42px;
}
.dateTime .van-col {
  text-align: center;
  font-size: 16px;
}

// 主场订单
.isTitle {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #868686;
}
.basicInfoBox {
  width: 100%;
  padding: 0 15px;
  background: #ffffff;
}
.basicInfoRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
  padding: 15px 0;
}
.basicInfoRow:last-child {
  border-bottom: 0;
}
.basicInfoRowLeft {
  font-weight: 600;
  width: 120px;
}
.basicInfoRowRight {
  width: calc(100% - 125px);
  text-align: right;
}
.serviceInfoBox {
  width: 100%;
  background: #ffffff;
  margin-bottom: 10px;
}
.serviceInfoBox:last-child {
  margin-bottom: 0;
}
.serviceInfoHead {
  width: 100%;
  padding: 13px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
.HeadLeft {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #1b1b1b;
}
.HeadLeft > img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.HeadRight {
  width: 60px;
  font-size: 14px;
  font-weight: 400;
  color: #2c82ff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.serviceInfoCon {
  padding: 10px 15px 0px 15px;
}
.conRow {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #1b1b1b;
}
.conRow:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.conRowLeft {
  width: 120px;
}
.conRowRight {
  width: calc(100% - 120px);
  text-align: right;
}
.serviceInfoFooter {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: flex-end;
}
.FooterBtn {
  font-size: 14px;
  padding: 4px 15px;
  font-weight: 400;
  color: #1b1b1b;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #1b1b1b;
  margin-right: 15px;
}
.FooterBtn:last-child {
  margin-right: 0;
}
.orderTotal {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.orderTotalLeft {
  font-size: 14px;
  font-weight: 600;
  color: #1b1b1b;
  padding-right: 10px;
}
.orderTotalRight {
  font-size: 16px;
  font-weight: 400;
  color: #2c82ff;
}
// 展后信息

.index {
  background: rgba(255, 255, 255, 0);
}
.index .headerTop {
  position: relative;
  // background: #fff;
  background-size: 100% 100%;
}
.index .headerTop img {
  width: 100%;
  height: 200px;
  display: block;
}
.index .header {
  width: 100%;
  color: #fff;
  /* background: #2d7cff; */
  padding: 20px;
  // position: absolute;
  // left: 0;
  // top: 0;
}
.index .header div:nth-of-type(1) {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-top: 4px;
}
.index .header div:nth-of-type(1) span {
  padding-right: 6px;
}
.index .header div:nth-of-type(2) {
  display: flex;
  font-size: 18px;
  padding: 5px 0 14px 0;
}
.index .header div:nth-of-type(3) {
  display: flex;
  border-top: 1px dashed #eee;
  font-size: 14px;
  padding: 14px 0 8px 0;
}
.index .header div:nth-of-type(4) {
  display: flex;
  font-size: 14px;
  // padding-bottom: 14px;
}
.index .header div:nth-of-type(3) span:first-of-type {
  opacity: 0.75;
  display: inline-block;
  width: 80px;
}
.index .header div:nth-of-type(3) span:last-of-type {
  opacity: 0.9;
}
.index .header div:nth-of-type(4) span:first-of-type {
  opacity: 0.75;
  display: inline-block;
  width: 80px;
}
.index .header div:nth-of-type(4) span:last-of-type {
  opacity: 0.9;
}
.index .common {
  font-size: 14px;
}
.index .common .title {
  line-height: 40px;
  padding-left: 20px;
  font-weight: bold;
  background: #eeeeee;
}
.index .common .content {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.index .content div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 0;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.index .content div img {
  width: 36px;
  height: 36px;
}
.index .content div span {
  padding-top: 16px;
}
.index .popupTab {
  display: flex;
}
.index .popupTab div {
  flex: 1;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.index .popupTab div span {
  line-height: 46px;
  border-bottom: 2px solid transparent;
}
.index .popupTab div .active {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
}
.index .popupList div {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.index .popupList span:first-of-type {
  display: block;
  flex: 1;
}

// OA
.oa .lists .title {
  line-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.oa .title span:first-of-type {
  display: block;
  width: 4px;
  height: 14px;
  background: #1267ea;
}
.oa .title span:last-of-type {
  font-weight: bold;
  margin-left: 6px;
}
.oa .listItem {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.oa .listItem div {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  color: #333333;
  font-size: 14px;
}
.oa .listItem div:nth-of-type(2n + 1) {
  border-right: 1px solid #eee;
}
.oa .listItem img {
  width: 40px;
  height: 40px;
  margin: 0 3px 0 6px;
}
// OA结束

.van-radio--horizontal:last-child {
  margin-right: 0 !important;
}
.van-tab--active {
  color: #1074f1 !important;
}
.van-tabs__line{
  background: #1074f1 !important;
}