.col-1b1b1b{
    color: #1b1b1b;
}
.col-1890FF{
    color: #1890FF;
}
.col-868686{
    color: #868686;
}
.col-EA4E70{
    color: #EA4E70;
}
.col-12B929{
    color: #12B929;
}
.b-g-eee{
    background: #eee;
}
.col-666{
    color: #666;
}



