@charset "utf-8";


.m-0 {
  margin: 0px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-l-0 {
  margin-left: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-0 {
  padding: 0px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}
.p-20-10 {
  padding: 20px 10px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25{
  padding-left: 25px;
}
.p-r-0 {
  padding-right: 0px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.broder {
  border: solid 1px #ddd;
}
.broder-1b1b1b {
  border: solid 2px #1b1b1b;
}
.b-t {
  border-top: solid 1px #ddd;
}

.b-b {
  border-bottom: solid 1px #ddd;
}

.b-l {
  border-left: solid 1px #ddd;
}

.b-r {
  border-right: solid 1px #ddd;
}

.b-n {
  border: none !important;
}

.p-0-30 {
  padding: 0 30px;
}

.img-100 img {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* ���˶��� */

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* ����֮����� */

.flex-around {
  display: flex;
  justify-content: space-around;
}

/* ��ֱ���� */

.align-items {
  align-items: center;
}

/* ���� */

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

/* �����ı�������ʾ������ */

.line-text-out {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 2���ı�������ơ����� */

.multi-text-overrun {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 3���ı�������ơ����� */

.multi-text-overrun-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.font-bold {
  font-weight: bold !important;
}

.font-bold-500{
  font-weight: 500 !important;
}
.font-28 {
  font-size: 28px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 22px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.font-26 {
  font-size: 26px;
}

.line-height-1 {
  line-height: 1em;
}

.line-height-2 {
  line-height: 2em;
}

.line-height-n {
  line-height: normal !important;
}

.col-000 {
  color: #000;
}

.col-ccc {
  color: #ccc;
}

.col-1b1b {
  color: #1b1b1b;
}

.col-fff {
  color: #fff;
}

.col-333 {
  color: #333333;
}

.col-555 {
  color: #555;
}

.col-666 {
  color: #666;
}

.col-8989 {
  color: #898989;
}

.col-8686 {
  color: #868686;
}
.col-007aff{
  color: #007aff;
}
.col-2C82FF {
  color: #2c82ff;
}
.col-1890FF{
  color: #1890FF;
}
.col-b3b3 {
  color: #b3b3b3;
}

.col-1e65e2 {
  color: #1e65e2;
}

.col-5edba8 {
  color: #5edba8;
}

.col-2b76fb {
  color: #2b76fb;
}

.col-FA436A {
  color: #fa436a;
}
.col-237804 {
  color: #237804;
}
.col-A8071A {
  color: #a8071a;
}
.col-0050B3 {
  color: #0050b3;
}

.b-g-108EE9 {
  background-color: #108ee9;
}

.b-g-2C82FF {
  background-color: #2c82ff;
}

.b-g-E0ECFF {
  background-color: #e0ecff;
}
.b-g-E7F3FF{
  background-color: #E7F3FF;
}
.b-g-f {
  background-color: #fff;
}

.positon-relative {
  position: relative;
}

.positon-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.translateX--50 {
  transform: translateX(-50%);
}
.b-r-6 {
  border-radius: 6px;
}
.b-r-50 {
  border-radius: 50%;
}
.b-1-e {
  border-bottom: 1px solid #eee;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.mui-scroll-wrapper {
  overflow: auto;
}

.mui-slider-indicator {
  background: #fff;
}
.inline-block {
  display: inline-block;
}
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* ������ĸ���� */

.word-break-break-all {
  word-break: break-all;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-auto {
  overflow: auto;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.border-t-10 {
  border-bottom: 10px solid #eee;
}
.b-2F86F6 {
  border: solid 1px #2f86f6;
}

.font-w-n {
  font-weight: normal !important;
}

.box-shadow {
  box-shadow: 0px 2px 8px 0px rgba(204, 204, 204, 1);
  border-radius: 3px;
}

.flex-grow-1 {
  flex-grow: 1;
}
.add-icon {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 44px;
  height: 44px;
  background-color: #2c82ff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}

/* ���� */

.w-5p {
  width: 5px;
}

.w-10p {
  width: 10px;
}

.w-15p {
  width: 15px;
}

.w-20p {
  width: 20px;
}

.w-25p {
  width: 25px;
}

.w-30p {
  width: 30px;
}

.w-35p {
  width: 35px;
}

.w-40p {
  width: 40px;
}

.w-45p {
  width: 45px;
}

.w-50p {
  width: 50px;
}
.w-140p {
  width: 140px;
}
.w-80p {
  width: 80px;
}
/* �߶� */
.h-5p {
  height: 5px;
}

.h-10p {
  height: 10px;
}

.h-15p {
  height: 15px;
}

.h-20p {
  height: 20px;
}

.h-25p {
  height: 25px;
}

.h-30p {
  height: 30px;
}

.h-35p {
  height: 35px;
}

.h-40p {
  height: 40px;
}

.h-45p {
  height: 45px;
}

.h-50p {
  height: 50px;
}
.h-80p {
  height: 80px;
}
/* �߶� */
.l-h-5p {
  line-height: 5px;
}

.l-h-10p {
  line-height: 10px;
}

.l-h-15p {
  line-height: 15px;
}

.l-h-20p {
  line-height: 20px;
}

.l-h-25p {
  line-height: 25px;
}

.l-h-30p {
  line-height: 30px;
}

.l-h-35p {
  line-height: 35px;
}

.l-h-40p {
  line-height: 40px;
}

.l-h-45p {
  line-height: 45px;
}

.l-h-50p {
  line-height: 50px;
}
.b-r-0{
  border-radius: 0px;
}
.b-r-1{
  border-radius: 1px;
}
.b-r-2{
  border-radius: 2px;
}
.b-r-3{
  border-radius: 3px;
}
.b-r-4{
  border-radius: 4px;
}
.b-r-5{
  border-radius: 5px;
}
.b-r-6{
  border-radius: 6px;
}
.b-r-7{
  border-radius: 7px;
}
.b-r-8{
  border-radius: 8px;
}
.b-r-9{
  border-radius: 9px;
}
.b-r-10{
  border-radius: 10px;
}
.split-line{
  border-bottom: solid 1px #EEEEEE;
}
.btn-1890FF{
  background-color: #1890FF;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 18px;
}
[v-cloak] {
  display: none !important;
}
.van-field__left-icon .van-icon, .van-field__right-icon .van-icon{
  color: #999;
}
.van-search__content{
  background-color: #eeeffe;
  padding-left: 14px;
}
.van-search{
  padding: 10px 14px;
}
.van-search .van-cell{
  border-radius: 6px;
  overflow: hidden;
}
[v-cloak] {
  display: none !important;
}
.no-data{
  text-align: center;
  margin-top: 100px;
}